body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24; 
}

body::-webkit-scrollbar-thumb{
    background: #FC9E0C;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
}

@media only screen and (min-width: 600px) {
    main {
        margin: 0;
    }
    
}

@keyframes fadeFromTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeFromBottom {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  1% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}