.profile {
    height: 100vh;
    position: relative;
    background: var(--body-bg-1);
    overflow: hidden;
    text-align: center;
}

.avatar {
    width: 20%;
    max-width: 200px;
}

.profile h2 {
    font-family: Electrolize;
    font-weight: 100;
    color: #595959;
    text-align: center;
    margin: 3em 0 1em 0;
}